{% extends 'base.html.twig' %}

{% block title %}Mes favoris{% endblock %}

{% block content %}
    {% if products %}
        <h2 id="title">Mes favoris</h2>
        <div id="offres_page">
            <div id="offres_display">
                {% for product in products %}
                    <div id="offres_single_bloc">
                        <div id="offres_single">
                            <p id="offer_name"><img src="{{ product.illustration }}" id="illustration"></p>
                            <div id="offers_text">
                                <p>{{ product.name }}</p>
                                <p>{{ product.price }} €</p>
                                <p>{{ product.createdAt|date('d/m, H:i') }}</p>
                                <a href="{{ path('remove_favorites', { 'id': product.id }) }}"><button class="btn btn-danger btn-sm" id="remove_button">Supprimer</button></a>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="pagination_navbar">
            {{ knp_pagination_render(products) }}
        </div>
    {% else %}
        <p>Vous n'avez actuellement aucun favoris.</p>
        <p><a href="{{ path('homepage') }}">Revenir en arrière</a></p>
    {% endif %}
{% endblock %}
